html, body {
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #1e1e1e;
}

canvas {
  outline: none;
}

#pane-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#pane-right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#renderer {
  flex: 1 1 0px;

  /* Prevent the enclosed canvas from increasing the min-height every time the layout is recalculated */
  min-height: 0;
}

#editor-container {
  flex: 1 1 0px;
}

.controls {
  flex: 0 0 32px;
  display: flex;
  align-items: center;
}
.controls > button {
  height: 24px;
  margin: 4px 0 4px 4px;
  border: 0;
  border-radius: 4px;
  color: rgb(212, 212, 212);
  background-color: #303030;
  cursor: pointer;
  outline: none;
  transition: transform 0.05s ease-out;
}
.controls > button, .controls > .text {
  flex: 0 0 auto;
  font-family: "Hack";
  font-size: 12px;
}
.controls > .text {
  margin: 0 0 0 12px;
  color: rgba(212, 212, 212, 0.5);
}
.controls > .text > .unit {
  color: rgba(212, 212, 212, 0.3);
}
.controls > button:active {
  transform: scale(0.9);
  transition: none;
}
.controls > button > .shortcut-hint {
  color: rgba(212, 212, 212, 0.3);
}

#pane-left > .controls {
  background-color: #161616;
}

.tabs {
  flex: 0 0 32px;
  display: flex;
  border-bottom: 1px solid #424242;
  background-color: #161616;
}
.tabs > button {
  flex: 0 0 auto;
  font-family: "Hack";
  font-size: 13px;
  margin: 4px 0 0 4px;
  border: 0;
  border-radius: 6px 6px 0 0;
  color: rgb(212, 212, 212);
  background-color: #303030;
  cursor: pointer;
  outline: none;
  transition: transform 0.05s ease-out;
  transform-origin: 50% 100%;
}
.tabs > button:active {
  transform: scale(0.925);
  transition: none;
}
.tabs > button.selected {
  background-color: #424242;
}

#pane-resize-handle {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: -8px;
  cursor: col-resize;
}
